* {
    color: #333;
    font-family: "trebuchet ms", tahoma, helvetica, arial, verdana, sans-serif;
}
body, html, form, p, img, h1, h2, h3, h4, h5, h6, ul, ol {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    text-align: center;
}
#container {
    position: relative;
    width: 400px;
    margin: 50px auto;
    /*text-align: left;*/
    background-color: #EEE;
}
.colour-box {
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
}
.entry {
    cursor: pointer;
}
.entry:hover {
    background-color: #DDD;
}
